body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f2f5;
}

.container{
    max-width: 500px;
    margin:10px auto;
}

#photo-preview{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #6366f1;
    background-color: #ddd;
}

input{
    width: 100%;
}

.dark-mode{
    background-color: black;
    color: white;
}

